@import "tailwindcss";

@theme {
  --color-primary: #FF385C;
  --color-background-light: #FFFFFF;
  --color-surface: #F8FAFC;

  --font-display: "Manrope", sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  min-height: max(884px, 100dvh);
}
